body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange {
  color: orange;
}
.sectiony {
  display: flex;
}
.half-width {
  padding-left: 40px;
  width: 50%;
  padding-bottom: 30px;
  padding-right: 500px;
}
#linegap {
  line-height: 25px;
}
.link-button {
  text-decoration: none;
  background-color: orange;
  padding: 10px 40px;
  border-radius: 5px;
  background-image: linear-gradient(to right, orange, tomato);
  color: white;
  font-weight: 700;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
#img {
  width: 50%;
  padding-right: 100px;
}
.image1 {
  padding-bottom: 50px;
  padding-right: 100px;
}
.second-section {
  display: flex;
  margin-bottom: 150px;
}
.cla {
  width: 50%;
}
.cls {
  width: 50%;
  padding-right: 50px;
}
#ing {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 300px;
  padding-top: 0;
}
.link {
  text-decoration: none;
  background-image: linear-gradient(to left, orange, tomato);
  border: 3px solid orange;
  border-radius: 10px;
  padding: 10px 40px;
  color: white;
}
#p {
  font-family: cursive;
  padding-right: 500px;
  line-height: 30px;
}
.fully {
  display: flex;
  margin-bottom: 100px;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}
.boxshadow {
  box-shadow: 5px 5px 50px gray;
  margin-left: 50px;
  margin-bottom: 30px;
  width: 50%;
  padding: 40px;
  border-radius: 20px;
  border-image: linear-gradient(red, yellow);
  border-left: 8px solid;
  border-image-slice: 1;
  border-radius: 20px;
}
.boxshadow2 {
  box-shadow: 5px 5px 50px gray;
  margin-left: 50px;
  margin-bottom: 30px;
  width: 50%;
  padding: 40px;
  margin-right: 180px;
  padding-bottom: 100px;
  border-radius: 20px;
  border-image: linear-gradient(blue, skyblue);
  border-image-slice: 2;
  border-left: 6px solid;
  border-right: 7px solid;
}
footer {
  padding-left: 20px;
  padding-bottom: 15px;
}
